@media screen and (max-width:1300px) {
    .swiper {
        display: none;
    }
    
}

@media screen and (max-width:1140px) {
    .logo,
    .cart,
    header .desk-top,
    header .bnt-contato {
        display: none;
    }
    .sumir{
        display: block;
    
    }


}

@media screen and (max-width:900px) {

    h2.title {
        font-size: 34px;
        line-height: 30px;
    }

    section.logog .flex {
        gap: 10px;
        flex-direction: column-reverse;
    }

    /* ESTILO DAS ESPECIALIDADES*/
    section.projetos {
        padding: 40px 8%;
    }
    
    section.projetos .flex {
        gap: 40px;
        flex-direction: column;
    }
    
    .projetos .img-port {
        padding: 40px;
        margin-top: 45px;
    }
    
    .projetos .img-port h3 {
        font-size: 20px;
        margin: 15px 0;
        text-align: center;
    }

    .overlay.item1{
        font-size: 15px;
        padding: 10px 10px;
    }

    .overlay.item2{
        font-size: 12px;
        text-align: center;
    }

    
}

