* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #191919;
  height: 100vh;
}
.swiper-wrapper{
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden; 
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
  display: flex;
}


h2.title {
  color: white;
  font-size: 38px;
  text-align: center;
}

/* Estilo Cabe */
header {
  padding: 0px 4%;
  background-color: #000;
}

header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
  font-weight: 650;
  font-size: 20px;
}

header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 25px;
}


header .logo {
  height: auto;
}

/* TOPO SITE */

section.topo-do-site {
  padding: 0px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 38px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

.img {
  align-items: center;
}

.img2 {
  display: block;
  margin: 100px auto;
  transition: .9s;
}

.img2:hover {
  color: #fff;
  transform: scale(1.25);
}

/* ESTILO DO SOBRE */



/* ESTILO DO PORTFÓLIO */

section.portfolio {
  padding: 40px 4%;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
  flex-direction: column;
  gap: 30px;
}

.portfolio h3 {
  text-align: center;
}

.img-port {
  color: #fff;
  background-color: #FFC000;
  padding: 20px 70px;
  cursor: pointer;
  border-radius: 40px;
  transition: .7s;
  background-size: cover;
  background-position: 100% 0%;
  position: relative;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  transition: .7s;
  text-align: center;
}

.overlay.item2 {
  padding: 10px 4%;
  font-size: 13px;
}

.overlay.item3 {
  padding: 10px 4%;
  font-size: 14px;
}

.overlay a {
  color: #4C7EBE;
  text-decoration: none;
  display: inline-block;
}

.overlay:hover {
  opacity: 1;
}


/* CARROSSEL*/
section.carrossel{
  padding: 80px 4%;
  position: relative;
}

section.carrossel .flex {
  gap: 60px;
  overflow-x: auto ;

}
.list .item{

  transition: .2s;
}
.list {
  cursor: pointer;
  transition: .2s;
  border-radius: 35px;
  justify-content: space-around;
  display: flex;
  list-style: none;
}

.list .item:hover{
  box-shadow: 0px 0px 8px #FFC000;
  transform: scale(1.05);
}
.carrossel h2{
  padding: 50px 0;
  color: #fff;
  font-size: 38px;
  line-height: 40px;
  text-align: center;
}

.item {
  user-select: none;
  background-image: linear-gradient( #8a6801 ,#886600);
  padding: 18px;
  border-radius:35px;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  border: 3px solid #FFC000;
  flex: 1;
  margin: 20px;
}

.list img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px ;
  padding: 15px;
}


.list .item p{
  color: white;
  background-image: linear-gradient( #a87f01,#886600);
  border: 3px solid #FFC000;
  padding: 8px 8px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 50px;
  text-align: center;
  width: 130px;
  height: 44px;
}


.vendidos button{
  color: white;
  background-image: linear-gradient(#83008a,#360021);
  height: 60px;
  width: 350px;
  font-weight: 600;
  font-size: 23px;
  border-radius: 30px;
  border: #610054 solid 3px;
  cursor: pointer;
  transition: .2s;
}

.item button:hover{
    box-shadow: 0px 0px 8px #610054;
    transform: scale(1.05);
}

.item-info {
  display: flex;
  justify-content: space-between; /* Espaça título e preço */
  
}

.arrow-right,
.arrow-left{
  position: absolute;
  top: 100px;
  left: 200px;
  right: auto;
  bottom: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, transparent 0, #191919 200%);
  opacity: 0.1;
  transition: all 600ms ease-in-out;
  z-index: 1;
}
.arrow-right{
    left: auto;
    right: 200px;
    background: linear-gradient(to left, transparent 0, #191919 200%);
}
.arrow-right:hover,
.arrow-left:hover{
  opacity: 1;
}

.item{
  opacity: 0.4;
  transition: all 600ms ease-in-out;
}

.item.um{
  opacity: 1;

}

/*Chrome, Safari and Opera */
section.carrossel ::-webkit-scrollbar {
  display: none;
}

/*IE, Edge and Firefox */
section.carrossel {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


